In [7]:
# -------------------------------
#Importing Dependencies
# -------------------------------
import csv
import os
# Organisation Libraries --------
import pandas as pd
import numpy as np

# SQL Libraries
from sqlalchemy import create_engine
import psycopg2
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import db_password

import time

In [8]:
# Importing CSV ------------------------
file_to_load = os.path.join("resources", "multiTimeline.csv")
df = pd.read_csv(file_to_load)
df.head()

                                            Category: All categories
Week       Home Gym: (United States)  Fitness Class: (United States)
2016-10-23 16                                                     29
2016-10-30 14                                                     24
2016-11-06 20                                                     25
2016-11-13 19                                                     26

In [9]:
# Inserting df into PostgreSQL ----------
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/tempo_proj_db"
engine = create_engine(db_string)
df.to_sql(name="home_v_class", con = engine, if_exists = "replace")

In [10]:
# Getting table from PostgreSQL ---------
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables ---------------------
Base.prepare(engine, reflect=True)